<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <title>Home</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">SMART System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav  ms-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a class=" btn btn-outline-warning text-dark m-1" href="../index.html">Log OUT</a>
        </li>

        <li class="nav-item">
          <button class="delete-btn btn btn-outline-danger m-1" >delete account</button>
        </li>
        
        
      </ul>
      
    </div>
  </div>
</nav>
<div class="login container ">
    <div class="col-md-8 offset-md-2  ">
        <div class=" vh-100  d-flex align-items-center ">
            <div class="card w-100">
                <div class="card-body text-center">
                    <h2 class="text-info">Smart Login System</h2>
                    <h5  class="wellcome-user text-secondary fw-bolder "></h5>
                </div>
            </div>

        </div>
    </div>
</div>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

    <script src="../js/main.js">
    </script>
</body>
</html>