<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">

    <title>Sign Up</title>
</head>
<body>
    
<div class="login container sign-up">
    <div class="col-md-8 offset-md-2 mt-5">
        <div class="card ">
            <div class="card-body text-center">
                <h2 class="text-info">Smart Login System</h2>
                <div class="mb-3">
                <input  type="text" class=" form-control my-3 SuserName"  placeholder="Enter your UserName">
                <input type="email" class="form-control my-3 SE-mail"  placeholder="Enter your Email">
                <input type="password" id="inputPassword5 " class="form-control my-3 Spassword" aria-describedby="passwordHelpBlock" placeholder="Enter your Password">
                </div>
                <a  class="btn btn-outline-info w-100 mt-3 SignUp-btn">SignUp</a>
                <p class="text-white">Already have an account? <span><a href="./index.html" class=" text-white">Login </a></span></p>
            </div>
        </div>
    </div>
</div>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../js/main.js"></script>
</body>
</html>